*{
    font-family: Arial, Helvetica, sans-serif;
}body{
    background-color: #ffffff;
    padding: 5px;
    margin-top: 40px;
}
.logo{
    width: 34%;
    height:34%;
}
.cuerpo{
    margin-top: 5%;
    padding:0;
}
.cuerpo{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.cuerpo img{
    width: 500px;
    height: 500px;
    float: left;
    }
    .cont-error{
        margin-top: 10%;
    }
.error{
    font-size: 60px;
    font-family: Cambria;
}
.soluciones{
    font-size: 20px;
    font-family: Cambria;
}